@media screen and (max-width:426px) {
    .nav-area{
        flex-direction: column;
    }
    .logo-title{
        justify-content: center;
        width: 100%;
    }
    .menu {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .menu a {
        padding: 20px;
    }
    .banner{
        flex-direction: column;
    }
    .banner-text-container{
        width: 100%;
    }
    .banner-txt{
        text-align: center;
        padding: 20px;
    }
    .banner-txt h3{
        font-size: 30px;
        margin: 0;
    }
    .banner-txt h1{
        font-size: 40px;
        margin: 0;
    }
    .banner-img{
        width: 100%;
        padding: 10px;
        
    }
    .banner-img img{
        height: 500px;
        width:400px ;
    }
    .card{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-text h1{
       font-size: 28px; 
    }
    .card-text p{
        font-size: 18px;
    }
    .game-poster{
        flex-direction: column;
        align-items: center;
    }
    .poster-text{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    
    .poster-img {
        width: 100%;
        margin: 0 auto;
       
    }
    .poster-img img{
        height: 450px;
        width:350px;
        object-fit: cover;
    }
    .inner-img img{
        height: 150px;
    width: 130px;
    }
    .inner-img{
        bottom: 90px;
    right: 140px;
    }
    .menu-container{
        min-height: 400px;
        max-width: 100%;
        padding: 0px;
        gap: 50px;  
    }
    .menus{
        flex-basis: 50px;
    }
    .menus a{
        font-size: 14px;
    }
    .menus img{
        height: 40px;
        width: 40px;
    }
    footer{
        padding: 20px;
    }
    .footer-logo p .service  .icon a{
        padding: 0px;
    }
    .icon a {
        font-size: 20px;
        padding: 0 15px;
    }
    .service a{
        padding: 0 5px;
    }
    .Privacy-Policy a{
        padding: 5px 10px;
    }
    }
